<h1>Discussion forums</h1>
{{#unless userLoggedIn}}
<p>
  <a href="/login">Sign in</a>
  |
  <a href="/register">Register</a>
</p>
{{else}}
<p>
  <a href="/logout">Logout</a>
</p>
{{/unless}}

{{{indexActionList userLoggedIn isUserMember isUserMod}}}

<h2>Recent threads</h2>
{{#each threads}}
<li>
  <a href="http://sample.com">

    {{this.title}}

  </a>

  | {{this.createdAt}} | by {{this.user}}
</li>

{{else}}
<p>No recent discussions.</p>
{{/each}}