<h2>All users</h2>
<p id="output"></p>
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Email</th>
    <th>Role</th>
    <th>Days to payment</th>
    <th>Actions</th>
  </tr>
  {{#each users}}
  <tr>
    <th>{{this._id}}</th>
    <th>{{this.username}}</th>
    <th>{{this.email}}</th>
    <th class="role">{{this.permission_level}}</th>
    <th>{{this.days_to_payment}}</th>
    <th>
      <form id="{{this._id}}">
        <input type="hidden" id="user-id">
        <input type="button" value="Ban" />
        {{#unless isAdmin}}
        <input type="button" value="Delete" />
        {{/unless}}
        {{#unless isAdmin}}
        <select>
          <option value="null">Choose role...</option>
          <option value="unpaid">unpaid member</option>
          <option value="member">member</option>
          <option value="mod">moderator</option>
          <option value="admin">admin</option>
        </select>
        {{/unless}}
      </form>
    </th>
  </tr>
  {{/each}}
</table>
<script src={{script}}></script>